<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Intro</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
    <div id="myApp">
        <h1>Frases de Batman  <small>{{sms}}</small></h1>
        <input 
        type="text"
         v-model="sms"
         v-on:keypress.enter="addFrases"
         >
        <hr>
        <!-- {{ frases }} -->
        <ul>
            <!-- <li v-for="(frase,index) in frases">
                <span> {{index+1}}{{ frase.quote }}</span>
                <blockquote>{{ frase.author }}</blockquote>
            </li> -->
            <li v-for="({quote, author},index) in frases">
                <span>{{index+1}} - {{ quote }}</span>
                <blockquote v-if="author !== undefined">- {{ author }}</blockquote>
            </li>
        </ul>
    </div>


    <script src="app.js"></script>

</body>

</html>